@use "@styles/globals.module.scss";

.leftAd {
    text-align: right;
    > * {display:  inline-block;}
}

.rightAd {
    text-align: left;
    > * {display:  inline-block;}
}

.linksPage {
    h2 {
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: block;
            background-color: var(--bgColor);
            border: solid 4px var(--borderColor);
            border-radius: 32px;
            padding: var(--paddingSmall);
            text-align: center;
            max-width: 512px;
            margin: 0 auto var(--paddingSmall) auto;
        }
    }
}