@use "@styles/globals.module.scss";

.shadowBackgroundContainer {
    position: relative;
    overflow: hidden; // keep blurred blobs from overflowing
    background-size: 40% !important;
    width: 100%;

    .content {
        position: relative;
        padding-top: 180px;
        background-size: 40% auto !important;
        z-index: 1;
    }
}
