@use "@styles/globals.module.scss";

.shadowBackgroundContainer {
    position: relative;
    padding-top: 164px;
    .shadowBackground {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-size: auto 100vh, auto 100vh;
        z-index: 8;
    }
    .content {
        position: relative;
        z-index: 11;
    }
}