@use "@styles/globals.module.scss";

.banner {
    width: 100%;
    text-align: center;
    height: 200px;
    position: relative;
    @media (max-width: 282px) {
        height: 71vw;
    }
    img {
        position: absolute;
        right: 16px;
        top: 22px;
        @media (max-width: 282px) {
            right: 50%;
            transform: translateX(50%);
            width: calc(100% - 32px);
        }
    }
}