@use "@styles/globals.module.scss";

.headerContainer {
    width: 100%;
    position: relative;
}

@font-face {
    font-family: "DarkwyndFont";
    src: url("@darkwynd/assets/DarkwyndFont.ttf") format("truetype");
}

.curved {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 8px;
    background-color: transparent;
    background-position: center 0px !important;
    text-align: center;
    width: 100%;
    height: 180px;
    font-family: "DarkwyndFont", sans-serif;
    font-size: 32px;
    color: var(--bgColor);
    text-shadow:
        2px 2px 4px var(--primaryColor),
        -2px -2px 4px var(--primaryColor),
        2px -2px 4px var(--primaryColor),
        -2px 2px 4px var(--primaryColor);
}

.logo {
    display: inline-block;
    margin-top: -16px;
    width: 120px !important;
    position: relative;
}