@use "@styles/globals.module.scss";

headerContainer {
    width: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "DarkwyndFont";
    src: url("@darkwynd/assets/DarkwyndFont.ttf") format("truetype");
}

.curved {
    position: absolute;
    top: 0;
    margin-top: 263px;
    padding-top: 0px;
    background-color: var(--bgColor);
    left: calc(50% - 1920px/2);
    text-align: center;
    height: 300px;
    width: 1920px;
    overflow: visible;
    font-family: "DarkwyndFont", sans-serif;
    font-size: 32px;
    font-kerning: normal;
    color: var(--bgColor);
    text-shadow:
        2px 2px 4px var(--primaryColor),
        -2px -2px 4px var(--primaryColor),
        2px -2px 4px var(--primaryColor),
        -2px 2px 4px var(--primaryColor);
}

.logo {
    display: inline-block;
    margin-top: -8px;
    width: 96px !important;
    position: relative;
}