@use "@styles/globals.module.scss";

.fire {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    aspect-ratio: 4.3/1;
    height: auto;
    z-index: 999;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);

    canvas {
        display: block;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-color: transparent;
    }
}